body {
    background-image: url(./assets/thread-networks-icon.jpg);
    font-family: Sofia, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.62rem 0.62rem;
}

.logo-image {
    display: flex;
    align-items: center;
    width: 15.65px;
    
}

.logo-image img {
    max-width: 80px;
    margin-right: 10px;
    width: 100%;
    height: 100%;
}
.logo-image p {
    font-size: xxx-large;
    font-weight: bold;
    font-family: monospace;
    font-style: italic;
    color: black
}

/* Style top menu and navigation links*/

.top-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
}
.top-menu li {
    margin-right: 150px;
    font-size: x-large;
    text-decoration: underline;
    font-weight: bold;
    background-color: rgba(255, 200, 0, 0.8);
}
.top-menu a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

/* Style the search button*/
.top-search-bar button {
    background-color: black;
    color: black;
}

.back-page {
    /* background-color: greenyellow; */
    display: flex;
    justify-content: center;
}
.back-page h2 {
    color: black;
    font-size: 50px;
    text-decoration: underline;
}
.contact-info {
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 400px;
    /* background-color: rgba(0, 255, 255, 0.3); */
}
.contact-info #button {
    background-color: orange;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;

    &:hover {
        background-color: greenyellow;
    }
}
.back-page form {
    /* background-color: orange; */
    font-weight: bold;
    font-size: 25px;
    height: 450px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 255, 255, 0.8);
}
.back-page #firstname, #lastname, #email, #subject, #message {
    background-color: rgba(255, 165, 0, 0.5);
}
.backpage-info {
    /* background-color: brown; */
    padding: 10px;
    border-radius: 5px;
}

.backpage-heading {
    /* background-color: purple; */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.email-page {
    padding: 10px;
    background-color: rgba(0, 255, 255, 0.3);
    border-radius: 10px;
}
.email-page p {
    font-size: 40px;
    margin: 10px 0;
    color: black;
    font-weight: bold;
}
.email-page a {
    color: black;
}
.email-page a:hover {
    font-size: 20px;
}
.social-buttons {
    /* background-color: darkgoldenrod; */
    padding: 10px;
    border-radius: 5px;
}
.end-text {
    /* background-color: green; */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.6);
}
.end-text p {
    color: black;
    font-weight: bold;
    font-size: 30px;
}
footer {
    background-color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* Media Queries for Responsive Design */

/* Media queries for small screens */
@media (max-width: 320px) {
    body {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    header {
        padding: 0.2rem 0.2rem; /* Adjust padding */
    }
    .logo-image {
        width: 5rem;
        height: auto;
    }
    .logo-image img {
        width: 1.5rem;
        height: auto;
    }
    .logo-image p {
        font-size: 0.8rem;
    }
    .top-menu ul {
        margin-right: 0.3rem;
        padding: 1rem 0.3rem;
    }
    .top-menu li {
        margin: 1rem 0.3rem;
        font-size: x-small;
    }
    .top-menu a {
        font-size: x-small;    
    }
    .top-search-bar {
        /* width: 0.03rem;
        height: auto;
        margin-right: 50px; */
        display: none;
    }
    .back-page {
        display: flex;
        flex-direction: column;
    }
    .contact-info form {
        width: 230px;
        height: 350px;
        display: flex;
        flex-direction: column;
        
    }
    .contact-info #firstname, #lastname, #email, #subject {
        height: 1rem;
    }
    .contact-info h2 {
        font-size: 25px;
        margin-right: 7.5rem;
    }
    .contact-info label {
        font-size: 15px;
    }
    input, textarea, label {
        margin-bottom: 8px;
    }
    .back-page br {
        display: none;
    }
    .back-page #button {
        margin-left: 3rem;

        &:hover {
            background-color: greenyellow;
        }
    }
    .backpage-heading h2 {
        font-size: 25px;
    }
    .email-page p {
        font-size: 1rem;
    }
    .social-buttons {
        display: flex;
        justify-content: space-around;
    }
    .social-buttons img {
        width: 25px;
        height: auto;
    }
    .end-text {
        height: 1.8rem;
    }
    .end-text p {
        font-size: 0.8rem;
    }
    footer {
        height: 1.5rem;
    }
    footer p {
        font-size: 0.4rem;
    }
}

/* Media wueries for screens like mobile device */
@media (min-width: 321px) and (max-width: 480px) {
    body {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    header {
        padding: 0.2rem 0.2rem; /* Adjust padding */
    }
    .logo-image {
        width: 1rem;
        height: auto;
    }
    .logo-image img {
        width: 2rem;
        height: auto;
    }
    .logo-image p {
        font-size: 0.8rem;
    }
    .top-menu {
        margin-right: 7.5rem;
    }
    .top-menu ul {
        margin-right: 0.3rem;
        padding: 1rem 0.3rem;
    }
    .top-menu li {
        margin: 1rem 0.8rem;
        font-size: x-small;

    }
    .top-menu a {
        font-size: x-small;    
    }
    .top-search-bar {
        /* width: 0.03rem;
        height: auto;
        margin-right: 50px; */
        display: none;
    }
    .back-page {
        display: flex;
        flex-direction: column;
    }
    .contact-info form {
        width: 230px;
        height: 350px;
        display: flex;
        flex-direction: column;
        
    }
    .contact-info #firstname, #lastname, #email, #subject {
        height: 1rem;
    }
    .contact-info h2 {
        font-size: 25px;
        margin-right: 7.5rem;
    }
    .contact-info label {
        font-size: 15px;
    }
    input, textarea, label {
        margin-bottom: 8px;
    }
    .back-page br {
        display: none;
    }
    .back-page #button {
        margin-top: 10px;
        margin-left: 3rem;

        &:hover {
            background-color: greenyellow;
        }
    }
    .backpage-heading h2 {
        font-size: 25px;
        margin-right: 10rem;
    }
    .email-page {
        width: 18rem;
    }
    .email-page p {
        font-size: 1rem;
    }
    .social-buttons {
        display: flex;
        justify-content: center;
    }
    .social-buttons img {
        width: 25px;
        height: auto;
        margin-right: 7rem;
    }
    .end-text {
        height: 1.8rem;
        width: 18rem;
    }
    .end-text p {
        font-size: 0.8rem;
    }
    footer {
        height: 1.5rem;
        width: 20rem;
    }
    footer p {
        font-size: 0.4rem;
    }
}

/* Media queries for medium screens e.g iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    body {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    header {
        padding: 0.5rem 0.5rem; /* Adjust padding */
    }
    .logo-image {
        width: 1rem;
        height: auto;
    }
    .logo-image img {
        width: 4rem;
        height: auto;
    }
    .logo-image p {
        font-size: 1rem;
    }
    .top-menu {
        margin-right: 15rem;
    }
    .top-menu ul {
        padding: 1rem 0.3rem;
    }
    .top-menu li {
        margin: 1rem 1.5rem;
        font-size: small;

    }
    .top-menu a {
        font-size: small;    
    }
    .top-search-bar {
        /* width: 0.03rem;
        height: auto;
        margin-right: 50px; */
        display: none;
    }
    .back-page {
        display: flex;
        flex-direction: column;
    }
    .contact-info form {
        width: 22rem;
        height: 350px;
        display: flex;
        flex-direction: column;
        margin-left: 4rem;   
    }
    .contact-info #firstname, #lastname, #email, #subject {
        height: 1rem;
    }
    .contact-info h2 {
        font-size: 2rem;
        margin-right: 1rem;
        margin-left: 10rem;
    }
    .contact-info label {
        font-size: 15px;
    }
    input, textarea, label {
        margin-bottom: 8px;
    }
    .back-page br {
        display: none;
    }
    .back-page #button {
        margin-top: 10px;
        margin-left: 8rem;

        &:hover {
            background-color: greenyellow;
        }
    }
    .backpage-heading h2 {
        font-size: 2rem;
        margin-right: 10rem;
    }
    .email-page {
        width: 25rem;
        margin-left: 3.5rem;
    }
    .email-page p {
        font-size: 1.3rem;
    }
    .social-buttons {
        display: flex;
        justify-content: center;
    }
    .social-buttons img {
        width: 35px;
        height: auto;
        margin-right: 10rem;
    }
    .end-text {
        height: 1.8rem;
        width: 25rem;
        margin-left: 3rem;
    }
    .end-text p {
        font-size: 0.8rem;
    }
    footer {
        height: 1.8rem;
        width: 33rem;
    }
    footer p {
        font-size: 0.4rem;
    }
}

/* Larger screens e.g laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    header {
        padding: 0.5rem 0.5rem; /* Adjust padding */
    }
    .logo-image {
        width: 1rem;
        height: auto;
    }
    .logo-image img {
        width: 4rem;
        height: auto;
    }
    .logo-image p {
        font-size: 1.3rem;
    }
    .top-menu {
        margin-right: 20rem;
    }
    .top-menu ul {
        padding: 1rem 3rem;
    }
    .top-menu li {
        margin: 1rem 1.8rem;
        font-size: large;

    }
    .top-menu a {
        font-size: large;    
    }
    .top-search-bar {
        /* width: 0.03rem;
        height: auto;
        margin-right: 50px; */
        display: none;
    }
    .contact-info form {
        width: 18rem;
        height: 350px;
        display: flex;
        flex-direction: column;
        margin-left: 4rem;   
    }
    .contact-info #firstname, #lastname, #email, #subject {
        height: 1rem;
    }
    .contact-info h2 {
        font-size: 2rem;
        margin-right: 1rem;
        margin-left: 5rem;
    }
    .contact-info label {
        font-size: 15px;
    }
    input, textarea, label {
        margin-bottom: 8px;
    }
    .back-page br {
        display: none;
    }
    .back-page #button {
        margin-top: 10px;
        margin-left: 6.5rem;

        &:hover {
            background-color: greenyellow;
        }
    }
    .backpage-heading h2 {
        font-size: 2rem;
        margin-right: 17rem;
    }
    .email-page {
        width: 17rem;
        margin-left: 0.2rem;
    }
    .email-page p {
        font-size: 1rem;
    }
    .social-buttons {
        display: flex;
        justify-content: space-between;
        width: 15rem;
    }
    .social-buttons img {
        width: 3rem;
        height: auto;
    }
    .end-text {
        height: 1.8rem;
        width: 25rem;
        margin-left: 0.8rem;
        padding-bottom: 2rem;
    }
    .end-text p {
        font-size: 1rem;
    }
    footer {
        height: 2rem;
        width: 45rem;
    }
    footer p {
        font-size: 0.5rem;
    }
}

/* Media queries for larger screens e.g Desktop */
@media (min-width: 1025px) and (max-width: 1200px) {
    body {
        background-position: center;
        background-size: cover;
        background-repeat: repeat;
    }
    header {
        padding: 0.5rem 0.5rem; /* Adjust padding */
    }
    .logo-image {
        width: 1rem;
        height: auto;
    }
    .logo-image img {
        width: 5rem;
        height: auto;
    }
    .logo-image p {
        font-size: 1.8rem;
    }
    .top-menu {
        margin-right: 2rem;
    }
    .top-menu ul {
        padding: 1rem 3rem;
    }
    .top-menu li {
        margin: 1rem 4rem;
        font-size: x-large;

    }
    .top-menu a {
        font-size: large;    
    }
    .top-search-bar {
        /* width: 0.03rem;
        height: auto;
        margin-right: 50px; */
        display: none;
    }
    .contact-info form {
        width: 18rem;
        height: 350px;
        display: flex;
        flex-direction: column;
        margin-left: 4rem;   
    }
    .contact-info #firstname, #lastname, #email, #subject {
        height: 1rem;
    }
    .contact-info h2 {
        font-size: 2rem;
        margin-right: 1rem;
        margin-left: 5rem;
    }
    .contact-info label {
        font-size: 15px;
    }
    input, textarea, label {
        margin-bottom: 8px;
    }
    .back-page br {
        display: none;
    }
    .back-page #button {
        margin-top: 10px;
        margin-left: 6rem;

        &:hover {
            background-color: greenyellow;
        }
    }
    .backpage-heading h2 {
        font-size: 2rem;
        margin-right: 17rem;
    }
    .email-page {
        width: 17rem;
        margin-left: 0.2rem;
    }
    .email-page p {
        font-size: 1rem;
    }
    .social-buttons {
        display: flex;
        justify-content: space-between;
        width: 15rem;
    }
    .social-buttons img {
        width: 3rem;
        height: auto;
    }
    .end-text {
        height: 1.8rem;
        width: 25rem;
        margin-left: 0.8rem;
        padding-bottom: 2rem;
    }
    .end-text p {
        font-size: 1rem;
    }
    footer {
        height: 2rem;
        width: 45rem;
    }
    footer p {
        font-size: 0.5rem;
    }
}

/* Media queries for extra large screens e.g TV */
@media (min-width: 1201px) {

}