body {
    background-image: url(./assets/thread-networks-icon.jpg);
    font-family: Sofia, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.logo-image {
    display: flex;
    align-items: center;
    width: 250px;
    
}

.logo-image img {
    max-width: 80px;
    margin-right: 10px;
    width: 100%;
    height: 100%;
}
.logo-image p {
    font-size: xxx-large;
    font-weight: bold;
    font-family: monospace;
    font-style: italic;
    color: black
}

/* Style top menu and navigation links*/

.top-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
}
.top-menu li {
    margin-right: 2rem;
    font-size: x-large;
    text-decoration: underline;
    font-weight: bold;
    background-color: rgba(255, 200, 0, 0.8);
}
.top-menu a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

/* Style the search button*/
.top-search-bar button {
    background-color: black;
    color: black;
}
/* Style for front page items */
.front-items {
    display: flex;
    padding: 0.5rem;
}
.front-text {
    background-color: rgba(255, 230, 0, 0.724);
    padding: 1rem;
    text-align: center;
    width: 0.5rem;
    border-radius: 1.5rem;
    
}
.front-items h1 {
    font-size: 80px;
    font-family: sofia, sans-serif;
}
.front-text p {
    font-size: 50px;
    font-family: sofia, sans-serif;
}
.subscribe-form {
    background-color:rgba(0, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    flex: none;
    height: 200%;
    margin-left: 12.5rem;
}
.subscribe-form p {
    font-size: 1.8rem;
    color: black;
    font-weight:bold;
}
.subscribe-form button {
    background-color: lightgreen;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}
.subscribe-form button:hover {
    background-color: greenyellow;
}
/* Add styles for the login form container */
.login-form-container {
    display: none; /* Initially hide the login form */
    position: absolute;
    top: 0;
    right: 0;
    width: 5cm; /* Adjust as needed */
    height: 8cm;
    background-color: rgba; /* Semi transparent background*/
    padding: 20px;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

/* Style the login form inside the container */
.login-form {
    text-align: center;
    border-radius: 5px;
    margin: 5% auto; /* Center the form vertically and horizontally */
    padding: 20px;
    max-width: 400px; /* Adjust as needed */
    box-shadow: 0 0 10px;
}
.login-form h3 {
    text-align: center;
    font-size: 24px;
    margin: 0 0 20px;
    color: #333;
}
.login-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-form a {
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

.login-form a:hover {
  text-decoration: underline;
}
 /* Styles for footer */
footer {
    padding: 10px;
    text-align: center;
}

.footer-element {
    background-color: rgba(128, 0, 128, 0.5);
    align-items: center;
    border-radius: 1rem;
}

.footer-element p {
    font-size: 0.8rem;
    color: black;
    font-weight: bold;
}

/* Media query for responsive design */

/* Small screens e.g small iphone*/
@media (max-width: 320px) {
    body {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    header {
        padding: 0.2rem 0.2rem; /* Adjust padding */
    }
    .logo-image {
        width: 5rem;
        height: auto;
    }
    .logo-image img {
        width: 1.5rem;
        height: auto;
    }
    .logo-image p {
        font-size: 0.8rem;
    }
    .top-menu ul {
        margin-right: 0.3rem;
        padding: 1rem 0.3rem;
    }
    .top-menu li {
        margin: 1rem 0.3rem;
        font-size: x-small;
    }
    .top-menu a {
        font-size: x-small;    
    }
    .top-search-bar {
        /* width: 0.03rem;
        height: auto;
        margin-right: 50px; */
        display: none;
    }
    .front-items {
        display: flex;
        flex-direction: column;
    }
    .subscribe-form {
        
        margin-top: 1.8rem;
        margin-left: 3rem;
        width: 26rem;
    }

    .front-text {
        height: auto;
        width: 32rem;/* Take up full width */
    }

    .front-items h1 {
        font-size: 3rem; /* Adjust font size */
    }

    .front-text p {
        font-size: 1.5rem; /* Adjust font size */
    }

    .subscribe-form p {
        font-size: 1.3rem; /* Adjust font size */
    }

    .subscribe-form button {
        padding: 8px 16px; /* Adjust padding */
        font-size: 14px; /* Adjust font size */

        &:hover {
            background-color: greenyellow;
            font-size: 1rem;
        }
    }

    .login-form-container {
        width: 100%; /* Take up full width */
    }

    .login-form {
        max-width: 100%; /* Take up full width */
    }
    .footer-element {
        width: 35rem;
    }
}
/* Responsiveness for larger phone screen size*/
@media (min-width:321px) and (max-width: 480px) {
    body {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    body {
        background-position: center;
        background-size: cover;
    }
    header {
        padding: 0.2rem 0.2rem; /* Adjust padding */
    }
    .logo-image {
        width: 5rem;
        height: auto;
    }
    .logo-image img {
        width: 1.5rem;
        height: auto;
    }
    .logo-image p {
        font-size: 0.8rem;
    }
    .top-menu ul {
        margin-right: 0.3rem;
        padding: 1rem 0.3rem;
    }
    .top-menu li {
        margin: 1rem 0.3rem;
        font-size: x-small;
    }
    .top-menu a {
        font-size: x-small;    
    }
    .top-search-bar {
        /* width: 0.03rem;
        height: auto;
        margin-right: 50px; */
        display: none;
    }

    .logo-image {
        width: 10rem; /* Adjust logo image width */
    }

    .logo-image img {
        max-width: 2rem; /* Adjust image size */
    }

    .logo-image p {
        font-size: large; /* Adjust font size */
    }
    .front-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .subscribe-form {    
        margin-top: 1.8rem;
        margin-left: 2.5rem;
        width: 18rem;
    }

    .front-text {
        height: auto;
        width: 23rem;/* Take up full width */
    }

    .front-items h1 {
        font-size: 3rem; /* Adjust font size */
    }

    .front-text p {
        font-size: 1rem; /* Adjust font size */
    }

    .subscribe-form p {
        font-size: 1rem; /* Adjust font size */
    }

    .subscribe-form button {
        padding: 8px 16px; /* Adjust padding */
        font-size: 14px; /* Adjust font size */

        &:hover {
            background-color: greenyellow;
            font-size: 1rem;
        }
    }

    .login-form-container {
        width: 100%; /* Take up full width */
    }

    .login-form {
        max-width: 100%; /* Take up full width */
    }
    .footer-element {
        width: 27rem;
    }
}

/* Responsiveness for large phone screen sizes*/
@media (min-width: 481px) and (max-width: 768px) {
    body {
        background-position: center;
        background-size: cover; /* Adjust background size */
    }

    header {
        padding: 0.18rem 0.18rem; /* Adjust padding */
    }
    .top-menu ul {
        margin-right: 0.5rem;
        padding: 0.5rem 1rem;
    }
    .top-menu li {
        margin-right: 0.8rem;
        margin-left: 1.5rem;
    }
    .top-menu a {
        font-size: 15px;
    }
    .top-search-bar {
        display: none;
    }

    .logo-image {
        width: 10rem; /* Adjust logo image width */
    }

    .logo-image img {
        max-width: 2rem; /* Adjust image size */
    }

    .logo-image p {
        font-size: large; /* Adjust font size */
    }
    .front-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .subscribe-form {    
        margin-top: 1.8rem;
        margin-left: 2.5rem;
        width: 18rem;
    }
    .front-text {
        height: auto;
        width: 23rem;/* Take up full width */
    }
    .front-items h1 {
        font-size: 3rem; /* Adjust font size */
    }
    .front-text p {
        font-size: 1rem; /* Adjust font size */
    }
    .subscribe-form p {
        font-size: 1rem; /* Adjust font size */
    }
    .subscribe-form button {
        padding: 8px 16px; /* Adjust padding */
        font-size: 14px; /* Adjust font size */

        &:hover {
            background-color: greenyellow;
            font-size: 1rem;
        }
    }
    .login-form-container {
        width: 100%; /* Take up full width */
    }
    .login-form {
        max-width: 100%; /* Take up full width */
    }
    .footer-element {
        width: 27rem;
    }
}
/* Responsiveness for extra large screen sizes*/
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        background-position: center;
        background-size: cover; /* Adjust background size */
    }

    header {
        padding: 5px 5px; /* Adjust padding */
    }
    .top-menu li {
        margin-right: 6rem;
    }

    .logo-image {
        width: 9rem; /* Adjust logo image width */
    }

    .logo-image img {
        max-width: 3.5rem; /* Adjust image size */
    }

    .logo-image p {
        font-size: x-large; /* Adjust font size */
    }
    .front-items {
        padding: 50px 50px;
    }
    .subscribe-form {
        margin-left: 0;
    }

    .front-text {
        width: 60rem; /* Take up full width */
    }

    .front-items h1 {
        font-size: 3.5rem; /* Adjust font size */
    }

    .front-text p {
        font-size: 2.2rem; /* Adjust font size */
    }

    .subscribe-form {
        margin-left: 3rem; /* Remove margin */
    }

    .subscribe-form p {
        font-size: 1.5rem; /* Adjust font size */
    }

    .subscribe-form button {
        padding: 8px 16px; /* Adjust padding */
        font-size: 14px; /* Adjust font size */

        &:hover {
            background-color: greenyellow;
            font-size: 1rem;
        }
    }

    .login-form-container {
        width: 100%; /* Take up full width */
    }

    .login-form {
        max-width: 100%; /* Take up full width */
    }
    footer {
        margin-top: 14rem;
    }
}
@media (min-width:1201px) {
    
}